*{
    background-color: blanchedalmond;
  
}
h1{
    color: rgb(53, 130, 130);
    background-color: rgb(232, 217, 178);
    display: inline;
    border: 0.5px solid black;
   

    
}
.container{
    
   color: rgb(127, 28, 28); 
   display: inline;
    
   
}
.box1{
    border: 2px solid black;
    height: 560px;
    width: 630px;
    margin: 20px;
    padding: 60px;
    background-color: rgb(84, 22, 142);
    color: rgb(44, 25, 11);
    

}
.box2{
    border: 2px solid black;
    height: 160px;
    width: 130px;
    margin: 20px;
    padding: 60px;
    background-color: rgb(84, 22, 142);

}
